.parent{
	border: .5px solid #c7cbd1;
	width: 1200px;
	height: 800px;
	/*background-color: green;*/
	position: relative;
}

.child1{
	position: absolute;
	display: inline-block;
	float: left;
	background-color: #009344;
	width: 400px;
	height: 800px;
}

.child2{
	position: absolute;
	float: left;
	background-color: #ffffff;
	margin-left: 400px;
	width: 400px;
	height: 800px;
}

.child3{
	position: absolute;
	float: left;
	margin-left:800px;
	background-color: #cf2734;
	width: 400px;
	height: 800px;
}